html {
    background-image: var(--bg-url);
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}

:root {
    --text-color: white ;
    --bg-url: url(./IMGS/bg-desktop.jpg);
    --stroke-color: rgba(255, 255, 255, 0.50);
    --surface-color: rgba(255, 255, 255, 0.10);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.20);
    --switch-svg: url(./IMGS/moon.svg);
}

.light {
    --text-color: black; 
    --bg-url: url(./IMGS/bg-desktop-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.50);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.10);
    --switch-svg: url(./IMGS/sun.svg);

}



#container {
    width: 588px;
    margin: auto;
    margin-top: 56px;
    padding: 0 23px;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    
}

#profille {
    color: --text-color;
    text-align: center;
    padding: 24px;
}

#profille img {
    width: 112px;
    height: 112px;
    border-radius: 50em;
    margin-top: 8px;
}

#switch {
    position: relative;
    margin: 4px auto;
    width: 64px;
}

#switch button {
    width: 32px;
    height: 32px;
    background:white var(--switch-svg) no-repeat center;
    border: 0;
    border-radius: 50%;

    left: 0;
    top: 50%;
    transform:translateY(-50%);
    position: absolute;
    z-index: 1;
}

.light #switch button {
    right: -5%;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--surface-color);
    border-radius: 9999px;
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);    
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

ul li {
    gap: 8px;
    align-items: center;
    border-radius: 8px;
    
    
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 24px ;
    
    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: 500;

    transition: all 0.2s;
}

ul li a:hover {
    background-color: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#icons {
    display: flex;
    padding: 24px 0px;
    justify-content: center;
    
    align-items: center;
    font-size: 40px;
}

#icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    
    transition: 0.3s;
}

#icons a:hover {
    background: var(--highlight-color);
    padding: 16px;
    border-radius: 50%;
}

footer {
    padding: 24px 0 24px 30px;
    text-align: center;
    font-size: 14px;
}

